<script id="tpl_event" type="text/html">
<div data-role="page" id="event_{{item.id}}" data-theme="a" class="ztl_remove_from_page" data-rockncoder-jspage="event" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div onClick="load_events()"><img class="header_back"></div>
			<div class="header_title" onClick="load_events()">{{item.title}}</div>
			<div class="header_dots" onClick="event_filter_toggle();"></div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div class="event_filter">
		<div class="ztl_item_details event_filter_content">
			<div style="text-align:right; padding-top:20px; padding-right:25px;" onClick="event_filter_toggle();">
				<img src="assets/css/ztl_images/media_player_close.png">
			</div>
			<div style="padding-top:50px;">
				<div class="ztl_item_details_title">PRIKAŽI PRIREDITVE</div>
				<div class="grey_line set_filter_line" style="margin-top:5px; margin-bottom:40px;"></div>
				<div class="search_dropdown_container">
					<select id="event_type" class="ztl_event_type_select">
						<option value="0">Izberi kategorijo</option>
						{{#categories}}
							<option value="{{id}}">{{name}}</option>
						{{/categories}}
					</select>
				</div>
				<div style="padding-bottom:15px; padding-top:15px;">
					<div class="event_search_filds_left">
						<input type="text" id="ztl_trip_filter_date_from" class="ztl_event_search_field" onClick="dprun(this)" >
						<input type="hidden" id="ztl_trip_filter_date_from_hidden">
					</div>
					<div class="event_search_filds_right">
						<input type="text" id="ztl_trip_filter_date_to" class="ztl_event_search_field" onFocus="dprun(this)" >
						<input type="hidden" id="ztl_trip_filter_date_to_hidden">
					</div>
				</div>
				<div class="event_search_button_holder">
					<div class="ztl_red_button ztl_event_search_button" onClick="filter_events();">POTRDI</div>
				</div>
			</div>
		</div>
	</div>
	
	<div data-role="content" class="ztl_content ztl_content_extra">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">

		<div class="ztl_navigate_events">
			<!-- div class="ztl_item_shadow"></div -->
			<div class="ztl_img_distance_container">
				<div class="ztl_distance_img">
					<img class="ztl_distance_arrow_img" src="assets/css/ztl_images/distance.png" >
					<div class="ztl_distance ztl_distance_poi"><div id="ztl_distance_value_{{item.id}}"></div></div>
				</div>
			</div>
			<input type="hidden" name="ztl_cord_{{item.id}}" value="{{item.id}}#{{item.coord_x}}#{{item.coord_y}}">

			{{#item.image}}
				<div class="ztl_item_details_image">
					<div class="ztl_details_img_crop">
						<img class="ztl_details_image" src="{{item.image}}">
					</div>
				</div>
			{{/item.image}}
			{{^item.image}}
				<img class="ztl_details_image" src="./uploads/noimage_detail.png">
			{{/item.image}}
			<div style="clear:both;"></div>
			<div class="ztl_item_content_padding">
				<div class="ztl_item_buttons">
					<a href="map.html#{{item.id}}__event" id="map_href" data-role="link" data-ajax="false" style="text-decoration:none;">
						<div id="map_button" class="ztl_red_button ztl_item_left_button">{{map_button}}</div>
					</a>
					<a href="#" style="text-decoration:none;">
						<div class="ztl_red_button ztl_item_right_button">MYVISIT</div>
					</a>
				</div>
				<br>
				{{#sound}}
				<div onClick="play_voice_guide({{id}});" class="ztl_grey_button" style="position:relative;">
					<div class="sound_img">
						<img src="assets/css/ztl_images/icon_2.png" style="height:27px;">
					</div> 
					<div class="sound_txt">{{guide_button}}</div>
				</div>
				{{/sound}}
				<div class="ztl_item_details">
					<div id="ztl_item_details_title" class="ztl_item_details_title">{{ztl_item_details_title}}</div>
					<div class="ztl_distance">&nbsp;</div>
					<div style="clear:both;"></div>
					<div class="grey_line" style="margin-top:10px;"></div>
					<br>
					<div class="ztl_item_details_desc">
						{{& item.intro}}
						<br><br>
						{{& item.description}}
						<br><br>
					</div>
					{{#venue}}
						<div id="ztl_item_details_venue" class="ztl_item_details_title" style="text-transform:uppercase;">{{ztl_item_details_venue}}</div>
						<div class="grey_line" style="margin-top:10px;"></div>
						<br>
						<div class="ztl_item_details_desc">
							{{date}}<br>{{venue}}<br>
						</div>
					{{/venue}}
					<br><br>
					{{#pricing}}
						<div id="ztl_item_details_price" class="ztl_item_details_title" style="text-transform:uppercase;">{{ztl_item_details_price}}</div>
						<div class="grey_line" style="margin-top:10px;"></div>
						<br>
						<div class="ztl_item_details_desc">
							{{ticket_type}}: {{price}} EUR<br>
						</div>
					{{/pricing}}
					<br><br><br>
				</div>
			</div>
		</div>
	</div>
	</div>

	</div>
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>