<script id="tpl_filtered_events" type="text/html">
<div data-role="page" id="filtered_events" data-theme="a" class="ztl_remove_from_page" data-rockncoder-jspage="events" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div onClick="load_events();"><img class="header_back"></div>
			<div class="header_title" onClick="load_events();">{{page_title}}</div>
			<div class="header_dots" onClick="event_filter_toggle();"></div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
			<div class="events_filter_title">
				{{page_sub_title}}
				<div class="events_filter_title_date">{{page_sub_title_date}}</div>
			</div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div class="event_filter">
		<div class="ztl_item_details event_filter_content">
			<div style="text-align:right; padding-top:20px; padding-right:25px;" onClick="event_filter_toggle();">
				<img src="assets/css/ztl_images/media_player_close.png">
			</div>
			<div style="padding-top:50px;">
				<div class="ztl_item_details_title">PRIKAŽI PRIREDITVE</div>
				<div class="grey_line set_filter_line" style="margin-top:5px; margin-bottom:40px;"></div>
				<div class="search_dropdown_container">
					<select id="event_type" class="ztl_event_type_select">
						<option value="0">Izberi kategorijo</option>
						{{#categories}}
							<option value="{{id}}">{{name}}</option>
						{{/categories}}
					</select>
				</div>
				<div style="padding-bottom:15px; padding-top:15px;">
					<div class="event_search_filds_left">
						<input type="text" id="ztl_trip_filter_date_from" class="ztl_event_search_field" onClick="dprun(this)" >
						<input type="hidden" id="ztl_trip_filter_date_from_hidden">
					</div>
					<div class="event_search_filds_right">
						<input type="text" id="ztl_trip_filter_date_to" class="ztl_event_search_field" onFocus="dprun(this)" >
						<input type="hidden" id="ztl_trip_filter_date_to_hidden">
					</div>
				</div>
				<div class="event_search_button_holder">
					<div class="ztl_red_button ztl_event_search_button" onClick="filter_events();">POTRDI</div>
				</div>
			</div>
		</div>
	</div>

	<div data-role="content" data-theme="a" class="ztl_content ztl_event_filter_items">
	<div id="verticalWrapper">
	<div id="verticalScroller">
		{{#items}}
			<li class="ztl_list_li">
				<div class="ztl_list_item" id="ztl_trips_item_{{id}}">
					<div class="ztl_list_image">
						<div class="ztl_list_img_crop">
							<a href="#" onClick="load_event({{id}}, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
								{{#image}}
									<img class="ztl_items_image" src="./uploads/thumbs/{{image}}">
								{{/image}}
								{{^image}}
									<img class="ztl_items_image" src="./uploads/noimage.png">
								{{/image}}
							</a>
						</div>
					</div>
					<div class="ztl_list_content">
							<a href="#" onClick="load_event({{id}}, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
								<div class="ztl_list_header">{{title}}</div>
							</a>
							<a href="#" onClick="load_event({{id}}, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
								<div class="ztl_list_content_text" style="font-size:18px;">
									{{date}}
									<br>
									{{poi_title}}
								</div>
							</a>
							<div class="ztl_content_info_left"></div>
							<div class="ztl_event_filter" style="backgroudn-color:#ffffff;">
								
							</div>
							<div class="ztl_distance"><div id="ztl_distance_value_{{id}}"></div></div>
							<input type="hidden" name="ztl_cord_{{id}}" value="{{id}}#{{coord_x}}#{{coord_y}}">
					</div>
				</div>
				<div style="clear:both;"></div>
				<div class="black_line"></div>
			</li>
		{{/items}}
		</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>