<script id="tpl_info" type="text/html">
<div id="info_{{item.id}}" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div onClick="opacity($(this)); load_page(template_lang+'infos.html', 'infos', trips[INFO_GROUP], 'fade', false, INFO_GROUP);"><img class="header_back"></div>
			<div class="header_title" onClick="opacity($(this)); load_page(template_lang+'infos.html', 'infos', trips[INFO_GROUP], 'fade', false, INFO_GROUP);">{{& item.title}}</div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div class="ztl_content ztl_content_extra">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">

		<div class="ztl_navigate_events">
			{{#item.image}}
				<div class="ztl_item_details_image">
					<div class="ztl_details_img_crop">
						<img class="ztl_details_image" src="{{item.image}}">
					</div>
				</div>
			{{/item.image}}
			{{^item.image}}
				<img class="ztl_details_image" src="./uploads/noimage_detail.png">
			{{/item.image}}
			<div style="clear:both;"></div>
			<div class="ztl_item_content_padding">
				<div class="ztl_item_details">
					<div id="ztl_item_details_description" class="ztl_item_details_title">{{ztl_item_details_description}}</div>
					<div class="grey_line" style="margin-top:10px;"></div>
					<div class="ztl_item_details_desc">
						{{& item.content}}
					</div>
				</div>
			</div>
			<div class="ztl_distance_to_footer">&nbsp;</div>
		</div>
	</div>
	</div>

	</div>
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>