<script id="tpl_main_menu" type="text/html">
<div data-role="page" id="main_menu" data-theme="a" class="ztl_remove_from_page">
	<div data-role="header">
		<h1>Vsebina</h1>
	</div>
	<div data-role="content" data-theme="a">	
		<div class="ui-grid-solo">
			<div class="ui-block-a"><button type="v" data-theme="a" onClick="load_trips();">PREDLOGI IZLETOV</button></div>
		</div>
		<div class="ui-grid-solo">
			<div class="ui-block-a"><button type="v" data-theme="a">INFO ZA OBISKOVALCE</button></div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a"><button type="button" data-theme="a">PRIREDITVE</button></div>
			<div class="ui-block-b"><button type="button" data-theme="a">ZNAMENITOSTI</button></div>	   
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a"><button type="button" data-theme="a">ZABAVA</button></div>
			<div class="ui-block-b"><button type="button" data-theme="a">NAKUPOVANJE</button></div>	   
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a"><button type="button" data-theme="a">NARAVA / AKTIVNI ODDIH</button></div>
			<div class="ui-block-b"><button type="button" data-theme="a">KULINARIKA</button></div>	   
		</div>
		<div class="ui-grid-solo">
			<div class="ui-block-a"><button type="v" data-theme="a" onClick="edit_settings();">NASTANITVE</button></div>
		</div>
	</div>
	<div data-role="footer" class="footer-docs" data-theme="b" data-position="fixed">
		[[[ztl_footer]]]
	</div>
</div>
</script>