<script id="tpl_my_visit_list" type="text/html">
<div id="my_visit_list" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div class="my_visit_header_title">{{page_title}}</div>
			{{#dots}}
				<div class="header_dots" onClick="load_my_visit_settings();"></div>
			{{/dots}}
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
	</div>
	
	<div class="ztl_content">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">
	{{#evt_group_name_translation}}
		<li class="ztl_list_li">
			<div class="my_visit_title">
				{{evt_group_name_translation}}
			</div>
			<div class="header_shadow"></div>
		</li>
	{{/evt_group_name_translation}}
	{{#evt}}
		<li class="ztl_list_li" id="my_visit_{{id}}">
			<div class="ztl_list_item">
				<div class="my_visit_content">
					<div class="my_visit_text" onClick="load_event({{id}}, 1);">
						<div class="ztl_list_header">{{title}}</div>
						<div class="ztl_list_content_text">
							{{date}}<br>
							{{venue}}
						</div>
					</div>
					<div class="my_visit_icons">
						<img src="assets/css/ztl_images/my_visit_calendar.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span onClick="delete_from_my_visit({{id}}, {{id_timetable}});"><img src="assets/css/ztl_images/my_visit_delete.png"></span>
					</div>
				</div>
			</div>
		</li>
	{{/evt}}
	{{#poi}}
		{{#group_name}}
			<li class="ztl_list_li" id="my_visit_{{id}}">
				<div class="my_visit_title">
					{{group_name}}
				</div>
				<div class="header_shadow"></div>
			</li>
		{{/group_name}}
		{{^group_name}}
			<li class="ztl_list_li">
				<div class="ztl_list_item">
					<div class="my_visit_content">
						<div class="my_visit_text" onClick="load_trip_content({{id}}, 'fade', true, 1);">
							<div class="ztl_list_header">{{title}}</div>
							<div class="ztl_list_content_text">
								{{#address}}{{address}},{{/address}}{{#post_number}} {{post_number}}{{/post_number}}{{#post}} {{post}}{{/post}}
							</div>
						</div>
						<div class="my_visit_icons">
							<span onClick="delete_from_my_visit({{id}}, -1);"><img src="assets/css/ztl_images/my_visit_delete.png"></span>
						</div>
					</div>
				</div>
			</li>
		{{/group_name}}
	{{/poi}}
	{{#tour_group_name_translation}}
		<li class="ztl_list_li">
			<div class="my_visit_title">
				{{tour_group_name_translation}}
			</div>
			<div class="header_shadow"></div>
		</li>
	{{/tour_group_name_translation}}
	{{#tour}}
		<li class="ztl_list_li" id="my_visit_{{id}}">
			<div class="ztl_list_item">
				<div class="my_visit_content">
					<div class="my_visit_text" onClick="load_tour({{id}}, 1);">
						<div class="ztl_list_header">{{title}}</div>
						<div class="ztl_list_content_text">
							{{short_description}}
						</div>
					</div>
					<div class="my_visit_icons">
						<span onClick="delete_from_my_visit({{id}}, -1);"><img src="assets/css/ztl_images/my_visit_delete.png"></span>
					</div>
				</div>
			</div>
		</li>
	{{/tour}}
	</div>
	</div>
	
	</div>
	
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>