<script id="tpl_my_visit_settings_menu" type="text/html">
	<div class="event_filter">
		<div class="ztl_item_details event_filter_content">
			<div style="text-align:right; padding-top:20px; padding-right:25px;" onClick="event_filter_toggle();">
				<img src="assets/css/ztl_images/media_player_close.png">
			</div>
			<div style="padding-top:50px;">
				<div class="ztl_item_details_title">{{select_view}}</div>
				<div class="grey_line set_filter_line"></div>
				<div class="my_visit_padding_top"></div>
				<div class="search_dropdown_container">
					<select id="event_type" class="ztl_event_type_select">
						<option value="0">{{default_category}}</option>
						{{#categories}}
							<option value="{{id}}">{{name}}</option>
						{{/categories}}
					</select>
				</div>
				<div style="clear:both;"></div>
				<div class="event_search_button_holder">
					<div class="ztl_red_button ztl_event_search_button" onClick="filter_events();">{{confirm}}</div>
				</div>
				<div style="clear:both"></div>
				<div class="my_visit_padding_top"></div>
				<div class="my_visit_list_settings_border"></div>
				<div class="my_visit_list my_visit_settings_list">
					{{show_on_map}}
				</div>
				<div class="my_visit_list_settings_border"></div>
				<div class="my_visit_list my_visit_settings_list">
					<span onClick="clear_my_visit();">{{clear_my_visit}}</span>
				</div>
				<div class="my_visit_list_settings_border"></div>
				<div class="my_visit_list my_visit_settings_list">
					<span onClick="my_visit_sync();">{{my_visit_sync}}</span>
					<input type="hidden" id="my_visit_username" value="{{user.username}}">
					<input type="hidden" id="my_visit_password" value="{{user.password}}" > 
				</div>
				<div class="my_visit_list_settings_border"></div>
				<div class="my_visit_list my_visit_settings_list">
					<span onClick="web_user_logout();">{{logout}}</span>
				</div>
				<div class="my_visit_list_settings_border"></div>
			</div>
		</div>
	</div>
</script>