<script id="tpl_poi_filter" type="text/html">
	<div class="poi_filter">
		<div class="ztl_item_details event_filter_content">
			<div style="text-align:right; padding-top:20px; padding-right:25px;" onClick="poi_filter_toggle();">
				<img src="assets/css/ztl_images/media_player_close.png">
			</div>
			<div style="padding-top:50px;">
				<div class="ztl_item_details_title">{{poi_filter_title}}</div>
				<div class="grey_line set_filter_line" style="margin-top:5px; margin-bottom:40px;"></div>
				<div class="search_dropdown_container">
					<select id="poi_filter_sel" class="ztl_event_type_select">
						<option value="0">{{default_category}}</option>
						{{#poi_filter}}
							<option value="{{id}}" {{filter_selected}}>{{title}}</option>
						{{/poi_filter}}
					</select>
				</div>
				<div style="clear:both;"></div>
				<div class="event_search_button_holder">
					<div class="ztl_red_button ztl_event_search_button" onClick="opacity($(this)); filter_poi();">{{potrdi_button}}</div>
				</div>
			</div>
		</div>
	</div>
</script>