<script id="tpl_trips" type="text/html">
<div data-role="page" id="trips_{{extra_div_id}}" data-theme="a" class="ztl_remove_from_page" data-rockncoder-jspage="trips" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div class="header_back" onClick="load_main_screen(1);"></div>
			<div class="header_title" onClick="load_main_screen(1);">{{page_title}}</div>
			<div class="header_dots"></div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div data-role="content" data-theme="a" class="ztl_content">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">
	{{#items}}
		<li class="ztl_list_li">
			<div class="ztl_list_item" id="ztl_trips_item_{{id}}">
				<div class="ztl_list_image">
					<div class="ztl_list_img_crop">
						<a href="#" onClick="load_trip_content({{id}}, 'fade', true, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
							{{#image}}
								<img class="ztl_items_image" src="./uploads/thumbs/{{image}}">
							{{/image}}
							{{^image}}
								<img class="ztl_items_image" src="./uploads/noimage.png">
							{{/image}}
						</a>
					</div>
				</div>
				<div class="ztl_list_content">
						<a href="#" onClick="load_trip_content({{id}}, 'fade', true, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
							<div class="ztl_list_header">{{title}}</div>
						</a>
						<a href="#" onClick="load_trip_content({{id}}, 'fade', true, 1)" style="text-decoration:none; color:#000000; font-weight:normal;">
							<div class="ztl_list_content_text">
								{{#post}}
									{{address}}, {{post_number}} {{post}}
								{{/post}}	
							</div>
						</a>
						<div class="ztl_content_info_left"></div>
						<div class="ztl_star">
							<img src="assets/css/ztl_images/star_{{star}}.png" class="img_star">
						</div>
						<div class="ztl_distance"><div id="ztl_distance_value_{{id}}"></div></div>
						<input type="hidden" name="ztl_cord_{{id}}" value="{{id}}#{{coord_x}}#{{coord_y}}">
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="black_line"></div>
		</li>
	{{/items}}
	</div>
	</div>
	
	</div>
	
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>