<script id="tpl_div_trip" type="text/html">
<div data-role="page" id="div_trip_{{id}}" data-theme="a" class="ztl_remove_from_page">
	<div data-role="header">
		<div data-role="header" data-position="fixed">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div class="header_back"></div>
			<div class="header_title">{{title}}</div>
			<div class="header_dots"></div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
			<div class="header_shadow"></div>
	</div>
	</div>
	<div data-role="content" class="ztl_content">
		<div class="ztl_navigate_events">
			<div class="ztl_item_shadow"></div>
			<div class="ztl_item_title_text">
				<img src="assets/css/ztl_images/star.png">
				<img src="assets/css/ztl_images/star.png">
				<img src="assets/css/ztl_images/star.png">
			</div>
			<div class="ztl_item_details_image">
				<div class="crop">
					<img class="ztl_content_image" src="./uploads/images/{{content_image}}" style="width:100%; height:195px;">
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="ztl_item_buttons">
				<a href="map.html#mappage" data-role="link" data-ajax="false" style="text-decoration:none;">
					<div class="ztl_item_map_button">ZEMLJEVID</div>
				</a>
				<div class="ztl_item_myvisit_button">MYVISIT</div>
			</div>
			<br>
			<div style="clear:both;"></div>
			<div class="ztl_item_details">
				<div class="ztl_item_details_title">NASLOV</div>
				<div class="ztl_item_distance">{{distance}} km</div>
				<div style="clear:both;"></div>
				<div class="grey_line" style="margin-top:10px;"></div>
			</div>
			<div style="clear:both;"></div>
			<div class="ztl_item_details" style="color:#ffffff; font-size:14px;">
				{{&content}}
			</div>
		</div>
	</div>
	<div data-role="footer" class="footer-docs" data-theme="b" data-position="fixed">
		[[[ztl_footer]]]
	</div>
</div>
</script>