<script id="tpl_trips" type="text/html">
<div data-role="page" id="trips" data-theme="a" class="ztl_remove_from_page">
	<div data-role="header" data-position="fixed">
			<div class="red_line"></div><br>
			<div class="header_back"></div>
			<div class="header_title">NASTANITVE</div>
			<div class="header_dots"></div>
			<div style="clear:both;"></div>
			<div class="header_shadow"></div>
	</div>
	<div data-role="content" data-theme="a" class="ztl_content">
	{{#items}}
		<li class="ztl_list_li">
			<div class="ztl_list_item" id="ztl_trips_item_{{id}}">
				<div class="ztl_list_image">
					<div class="img_crop">
						<img src="./uploads/images/{{content_image}}">
					</div>
				</div>
				<div class="ztl_list_content">
					<a href="#" onClick="load_trip_content({{id}}, 'fade', true)" style="text-decoration:none; color:#000000; font-weight:normal;">
						<span class="ztl_list_header">{{title}}</span>
						<span class="ztl_list_content_text">{{short_description}}</span>
					</a>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="black_line"></div>
		</li>
	{{/items}}
	</div>
	<div data-role="footer" class="footer-docs" data-theme="b" data-position="fixed">
		[[[ztl_footer]]]
	</div>
</div>
</script>