<script id="tpl_ztl_footer" type="text/html">
	<ul class="footer_list">
		<li>
			<img class="icon_1" src="assets/css/ztl_images/icon_1.png" onClick="load_my_visit();" style="width:25px;">
		</li>
		<li>
			<img class="icon_2" href="#" onClick="voice_guide = 1; load_page(template_lang+'trips.html', 'trips', trips[4], 'fade', false, 4);" src="assets/css/ztl_images/icon_2.png" style="width:25px;">
		</li>
		<li>
			<a href="#" onClick="load_main_screen(1);"><img class="icon_3" src="assets/css/ztl_images/icon_3.png" style="width:25px;"></a>
		</li>
		<li>
			<a href="#"><img class="icon_4" src="assets/css/ztl_images/icon_4.png" style="width:25px;" onClick="show_map();"></a>
		</li>
		<li>
			<a href="#"><img class="icon_5" src="assets/css/ztl_images/icon_5.png" style="width:25px;" onClick="edit_settings();"></a>
		</li>
	</ul>
</script>