<script id="tpl_ztl_footer" type="text/html">
<div data-role="navbar" data-theme="b">
	<ul>
		<li><a href="#" data-role="button" data-tap-toggle="false" data-icon="home">MyVisit<br></a></li>
		<li><a href="#" data-role="button" data-icon="star">Vodi<br></a></li>
		<li><a href="#" data-role="button" data-icon="info">Vsebina<br></a></li>
		<li><a href="#" data-role="button" data-icon="search">Zemljevid<br></a></li>
		<li><a href="#" data-role="button" data-icon="refresh">Nastavitve<br></a></li>
	</ul>
</div>
</script>