<script id="tpl_ztl_footer" type="text/html">
	<ul class="footer_list">
		<li>
			<img src="assets/css/ztl_images/icon_1.png" style="width:25px;">
		</li>
		<li>
			<img src="assets/css/ztl_images/icon_2.png" style="width:25px;">
		</li>
		<li>
			<a href="#" onClick="load_main_screen(1);"><img src="assets/css/ztl_images/icon_3.png" style="width:25px;"></a>
		</li>
		<li>
			<a href="map.html#mappage" ><img src="assets/css/ztl_images/icon_4.png" style="width:25px;"></a>
		</li>
		<li>
			<a href="#"><img src="assets/css/ztl_images/icon_5.png" style="width:25px;" onClick="load_settings_page();"></a>
		</li>
	</ul>
</script>