<script id="tpl_ztl_synhronization" type="text/html">
<div id="ztl_synhronization" class="ztl_remove_from_page" style="overflow:hidden;">

	<div class="ztl_content">	
		<div class="event_filter_content">
			<div class="close_button" onClick="edit_settings();">
				<img src="assets/css/ztl_images/media_player_close.png">
			</div>
			<div class="settings_content">
				<div class="ztl_item_details_title">{{synhronization_title}}</div>
				<div class="grey_line set_filter_line" style="margin-top:5px; margin-bottom:20px;"></div>

				<div class="ztl_item_details_desc" style="margin-bottom:30px;">{{synhronization_desc}}</div>

				<div class="ztl_red_button ztl_red_button_big ztl_synhronization_button" onClick="check_updates();">{{synhronization_button}}</div>
			</div>
		</div>
	</div>

</div>
</script>