<script id="tpl_ztl_settings" type="text/html">
<div id="ztl_settings" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div class="header_title_menu">{{title}}</div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>


	<div class="ztl_content">	
		<li class="ztl_list_li ztl_settings_li">
			<div class="ztl_list_item ztl_list_header ztl_settings_text">{{my_visit_account}}</div>
			<div class="black_line"></div>
		</li>

		<li class="ztl_list_li ztl_settings_li">
			<div class="ui-grid-a ztl_list_item ztl_list_header ztl_settings_text">{{reminder}}
				{{#reminder}} 
					<img class="checkbox" src="assets/css/ztl_images/checkbox-on.png">
				{{/reminder}}
				{{^reminder}} 
					<img class="checkbox" src="assets/css/ztl_images/checkbox-off.png">
				{{/reminder}}
			</div>
			<div class="black_line"></div>
		</li>

		<li class="ztl_list_li ztl_settings_li">
			<div class="ztl_list_item ztl_list_header ztl_settings_text" onClick="choose_language();">{{set_language}}</div>
			<div class="black_line"></div>
		</li> 

		<li class="ztl_list_li ztl_settings_li">
			<div class="ztl_list_item ztl_list_header ztl_settings_text">{{rate}}</div>
			<div class="black_line"></div>
		</li>

		<li class="ztl_list_li ztl_settings_li">
			<div class="ztl_list_item ztl_list_header ztl_settings_text">{{about}}</div>
			<div class="black_line"></div>
		</li>

	</div>
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>