html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.ui-content {
    padding: 0;
}

.portrait, .portrait #mappage {
    min-height: 0;
}

.ui-icon,
.ui-icon-searchfield:after {
	background-color: #000000 /*{global-icon-color}*/;
	background-color: transparent /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
	background-color: 						#fff;
	background-color: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-white.png);
	background-repeat: no-repeat;
}

#mappage, #mappage .ui-content, #map {
    width: 100%;
    height: 100%;
}
.olControlAttribution {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
}
#navigation {
    position: absolute;
    bottom: 70px;
    left: 10px;
    z-index: 1000;
	background-color:#222222;
}
#navigation .ui-btn-icon-notext {
    display: block;
    padding: 7px 7px 7px 7px;
}
#title, #tags, #shortdesc {
    display: none;
}
.ui-icon-check {
    opacity: 0.3;
}
.checked .ui-icon-check {
    opacity: 1;
}
.ui-icon-locate {
    background-image: url(img/locate.png);
}
.ui-icon-layers {
    background-image: url(img/openlayers.png);
}
.ui-content .ui-listview-inset, #search_results {
    margin: 1em;
}
.ui-content .ui-listview {
    margin: 0;
}
#details-list li{
	padding:15px 10px;
}
