#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display : none;
}

.ztl_list_li {
    list-style-type: none;
    padding:0;
    margin:0;
}

.red_line {
    background-color:#ed1c24;
    height:4px;
    width:100%;
}

.red {
    color:#ed1c24;
    font-size:1.0em;
}

.black_line {
    background-color:#222222;
    height:1px;
    width:100%;
}

.grey_line {
    background-color:#555555;
    height:4px;
    width:100%;
}

.header_placeholder {
	background-color:#222222;
}

.header_back {
    float:left;
    background-image:url('ztl_images/back_arrow_2.png');
    background-repeat:no-repeat;
	height:25px;
    width:33px;
    margin:0px 0px 0px 25px;
}

.header_title_menu {
	padding:10px 0px 5px 15px;
	height:25px;
	text-transform:uppercase;
}

.header_space {
    height:10px;
}

.header_dots {
    float:right;
    background-image:url('ztl_images/dots_1.png');
    background-repeat:no-repeat;
    height:22px;
    width:6px;
    padding:0px 25px 0px 0px;
}

.header_shadow {
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	height:11px;
}

.footer_shadow {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	height:11px;
}

.ztl_list_item {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    position:relative;
}

.ztl_list_header{
    color:#ffffff;
    font-family: 'robotocondensed';
    font-size:1.2em;
    padding:10px 0px 0px 0px;
    width:100%;
}

.ztl_list_content_text{
    color:#999999;
    font-size:0.9em;
    padding:5px 0px 0px 0px;
    width:100%;
}

.ztl_distance{
    font-size:1em;
    color:#ffffff;
    font-family: 'robotocondensed';
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0px 15px 5px 0px;
}

.ztl_star{
    font-size:1em;
    color:#ffffff;
    font-family: 'robotocondensed';
    position: absolute;
    bottom: 0;
    left: 0;
    padding:0px 0px 5px 0px;
}

.ztl_item_details {
    color:#555555;
    position:relative;
    margin: 20px 0px 0px 0px;
    font-size:1.5em;
}

.ztl_item_distance{
    font-size:1.1em;
    color:#ffffff;
    font-family: 'robotocondensed';
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0px 15px 15px 0px;
}

.ztl_item_details_title{
    font-size:0.9em;
}

.ztl_item_details_text {
	color:#ffffff; 
	font-size:1.15em;
}

#media_player {
     text-align:center;
}

.ui-header-fixed{
	margin:0;
	padding:0;
}

.ztl_content {
	margin:0;
	padding:0;
}

@media (max-width: 320px){
    .ztl_content {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media (min-width: 321px) and (max-width: 360px){
    .ztl_content {
        padding-top: 44px;
        padding-bottom: 52px;
    }
}

@media (min-width: 361px) and (max-width: 599px) {
    .ztl_content {
        padding-top: 44px;
        padding-bottom: 55px;
    }
}

@media (min-width: 600px){
    .ztl_content {
        padding-top: 44px;
        padding-bottom: 55px;
    }
}

.ztl_main_menu {
	padding:0;
	margin:0;
}

.ztl_nospace {
	padding:0px;
	margin:0px;
}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; background-color:red;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; background-color:red; color:red; border:5px solid red;}