@window_width:unit(`$(window).width()`, px);
@window_height:unit(`$(window).height()`, px);

/*
@window_width:unit(`$(document).width()`, px);
@window_height:unit(`$(document).height()`, px);
*/

body {
    width:@window_width;
}

/*slika na seznamu*/
.ztl_items_image {
	width: @window_width * 0.35 * 1.1;
	height: @window_width * 0.35 * 14 / 17 * 1.1;
}

.ztl_list_img_crop { 
  width: @window_width * 0.35;
  height: @window_width * 0.35 * 14 / 17;
  overflow: hidden;
}

.ztl_list_image {
	width: @window_width * 0.35;
	float:left;
}

/*seznam vsebina*/
.ztl_list_content {
	position:relative;
	width:@window_width * 0.63;
	height: @window_width * 0.35 * 14 / 17;
	float:right;
}

/*slika na detajlih*/
.ztl_details_img_crop{
	width: @window_width;
	height: @window_width * 0.55; /*260/480*/
	overflow: hidden;
}

.ztl_details_image{
	width:@window_width;
}

.ztl_item_shadow {
	position:absolute;
	top:-10;
    height:@window_width*0.094;
    width:@window_width;
    background-color:#000000;
    opacity:0.5;
}

.ztl_item_title_text {
	position:absolute;
    height:100%;
	width:@window_width;
	text-align:center;
	padding-top:@window_width*0.03;
}

.ztl_img_distance_container {
	position:absolute;
    height:@window_width*0.10;
	width:@window_width;
	padding-top:@window_width*0.46;
}

.ztl_distance_img {
    float:right;
    height:@window_width*0.10;
    line-height:@window_width*0.10;
	width:@window_width/4;
	background-color:#303030;
	padding-left:5%;
}

.header_title {
    position:absolute;
	float:left;
	padding-left:@window_width*0.185;
    font-size:1.2em;
    text-transform:uppercase;
    color:#ffffff;
}

.header_title_menu {
	padding:0px 0px 0px @window_width*0.05;
	font-size:1.2em;
	text-transform:uppercase;
}

.events_filter_title {
	padding:5px 0px 0px @window_width*0.05;
	font-size:1em;
	text-transform:uppercase;
	background-color:#000000;
	color:#ffffff;
	height:30px;
	line-height:30px;
}

.events_filter_title_date {
	float:right;
	padding:0px 25px 0px 0px;
}

.ztl_event_filter_items  {
	padding-top:85px;
}

/*gumbi detajl*/
.ztl_item_buttons {
    position:relative;
    margin: @window_width*0.125 0px 0px 0px; /*60/480*/
}

.ztl_red_button {
	background: rgb(237,28,36); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(237,28,36,1) 50%, rgba(210,20,27,1) 50%, rgba(210,20,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(50%,rgba(237,28,36,1)), color-stop(50%,rgba(210,20,27,1)), color-stop(100%,rgba(210,20,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 50%,rgba(210,20,27,1) 50%,rgba(210,20,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 50%,rgba(210,20,27,1) 50%,rgba(210,20,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 50%,rgba(210,20,27,1) 50%,rgba(210,20,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 50%,rgba(210,20,27,1) 50%,rgba(210,20,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#d2141b',GradientType=0 ); /* IE6-9 */
	width:@window_width*0.43;
    height:@window_width*0.10; /*@window_width*0.43*48/206*/
	text-align:center;
	line-height:@window_width*0.10;
	font-size:1.25em;
}

.ztl_grey_button {
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 50%, rgba(85,85,85,1) 50%, rgba(85,85,85,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(50%,rgba(102,102,102,1)), color-stop(50%,rgba(85,85,85,1)), color-stop(100%,rgba(85,85,85,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
	width:100%;
    height:@window_width*0.10; /*@window_width*0.43*48/206*/
	text-align:center;
	line-height:@window_width*0.10;
	font-size:1.25em;
	color:#ffffff;
	font-family: 'robotobold_condensed';
}

.ztl_grey_button_map {
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 50%, rgba(85,85,85,1) 50%, rgba(85,85,85,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(50%,rgba(102,102,102,1)), color-stop(50%,rgba(85,85,85,1)), color-stop(100%,rgba(85,85,85,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(85,85,85,1) 50%,rgba(85,85,85,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
	width:@window_width*0.43;
   height:@window_width*0.10; /*@window_width*0.43*48/206*/
	text-align:center;
	line-height:@window_width*0.10;
	font-size:1.25em;
	color:#ffffff;
	font-family: 'robotobold_condensed';
}

.ztl_item_right_button{
    color:#ffffff;
    font-family: 'robotobold_condensed';
    position: absolute;
    bottom: 0;
    right: 0;
}

.ztl_item_left_button{
    color:#ffffff;
    font-family: 'robotobold_condensed';
    position: absolute;
    bottom: 0;
    left: 0;
}

.ztl_event_search_button{
	width:@window_width*0.44;
	height:@window_width*0.08;
	line-height:@window_width*0.08;
    color:#ffffff;
    font-family: 'robotobold_condensed';
    font-size:18px;
    float:right;
}

.event_search_filds_left{
	width:@window_width*0.44;
	text-align:left;
}

.event_search_filds_left{
	width:@window_width*0.44;
	text-align:right;
	float:right;	
}

.event_search_button_holder {
	width:100%;
	text-align:right;
}

.ztl_event_search_field {
	width:@window_width*0.43;
	height:@window_width*0.07;
	border: 0px solid;
	text-align:center;
	line-height:@window_width*0.07;
}

.ztl_event_type_select {
	font-size:25px;
	width:(@window_width - 50);
}

.search_dropdown_container {
	width:(@window_width - 30);
}

.select_language_button {
	font-family: 'robotobold_condensed';
	width:(@window_width - 30);
	color:#ffffff;
}

.select_language_line{
	width:(@window_width - 30);
}

.set_filter_line{
	width:(@window_width - 50);
}

.ztl_item_content_padding{
	margin-left:@window_width * 0.0521;
	margin-right:@window_width * 0.0521;
}

.ztl_content {
    width:@window_width;
}

.ztl_content_extra {
	padding-bottom:0px;
}

.ztl_remove_from_page{
	width:@window_width;
}

.img_star{
	height:@window_width*0.0417;
}

.media_player {
	width:@window_width;
	padding:0;
	margin:0;
}

.ui-slider {
	width:@window_width;
}

.ztl_height_260 {
	height:@window_width*260/480;
	width:@window_width;
	background-repeat:no-repeat;
	position:relative; 
	background-size: 100% 100%;
}

.ztl_height_170 {
	height:@window_width*170/480;
	width:100%;
	background-repeat:no-repeat;
	position:relative; 
	background-size: 100% 100%;
}

.ztl_main_menu_text {
	position:absolute; 
	bottom:0; 
	padding-left:15px; 
	height:@window_width*45/480;
	line-height:@window_width*45/480;
	font-size:1.2em;
	color:#ffffff;
}

.ztl_top_event_text_big {
	position:absolute; 
	bottom:0; 
	padding-left:15px; 
	width:@window_width;
	height:@window_width*45/480;
	line-height:@window_width*45/480;
	font-size:1.2em;
	color:#ffffff;
	background-color:black;
	opacity:0.7;
}

.ztl_top_event_text_half {
	position:absolute; 
	bottom:0; 
	width:@window_width/2;
	height:@window_width*45/480;
	line-height:@window_width*45/480;
	font-size:1.2em;
	color:#ffffff;
	background-color:black;
	opacity:0.7;
}

.ztl_top_event_text_half_text {
	position:absolute; 
	bottom:0; 
	height:@window_width*45/480;
	line-height:@window_width*45/480;
	font-size:1.2em;
	color:#ffffff;
	margin-left:15px;
}

ul.footer_list {
	width:@window_width;
  	margin:0;
	padding:0;
	height:50px,
}

ul.footer_list li{
	margin-top:10px;
	background-color:#222222;
  	float: left;
  	width: 20%;
  	list-style-type: none;
  	text-align:center;
}

.txt_popup {
   position:absolute;
  	z-index: 2000;
   color:#000000;
   width:@window_width*0.8;
	height:@window_width*0.8*0.38;
	margin-left:-@window_width*0.15;
	margin-top:-@window_width*0.2;
}

.img_popup {
  	z-index: 3000;
	content:url('../map/images/map_tooltip.png');
   width:@window_width*0.8;
	height:@window_width*0.8*0.38;
}

.map_info {
  	z-index: 5000;
	content:url('../map/images/map_info.png');
	width:@window_width*0.1;
	float:right; 
	margin-right:@window_width*0.135;
	margin-top:-@window_width*0.8*0.2;
}

.map_direction {
  	z-index: 5000;
	content:url('../map/images/map_direction.png');
	width:@window_width*0.1;
	float:right; 
	margin-right:@window_width*0.025;
	margin-top:-@window_width*0.8*0.2;
}

.popup_right {
   position:relative;
   z-index: 4000;
	font-size:@window_width*0.8*0.06;
}

.ztl_distance_value{
	float:right; 
	margin-right:@window_width*0.025;
	margin-top:-@window_width*0.8*0.36;
}

.popup_left {
   position:absolute;
  	z-index: 3000;
	margin-left:@window_width*0.025;
}

#poi_title{
	font-size:@window_width*0.8*0.06;
	padding-bottom:@window_width*0.8*0.05;
	margin-top:-@window_width*0.8*0.36; 
}

#poi_address{
	font-size:@window_width*0.8*0.05;
	margin-top:@window_width*0.8*0.02; 
}

.media_payer {
	position:absolute;
	display:none;
   background-color: #222222;
   height:@window_height;
   width:@window_width;
   z-index:-100;
}

.player_stop_back{
	width:300;
	height:300;
}


.media_player_contorl{
	position:absolute;
	top:0;
	padding-left:@window_width/2 - 30;
	padding-top:135px;
}

.event_filter {
	position:absolute;
	display:none;
   	background-color: #222222;
    height:@window_height;
    width:@window_width;
    z-index:-100;
}

.event_filter_content {
	padding-left:25px;
	padding-right:25px;
}