.ztl_link{
	text-decoration:none; 
	color:#000000; 
	font-weight:notmal;
}

.ztl_content{
	width:100%; 
	padding:0;
	background-color:#ffffff;
}

.ztl_list_item {
	width:100%;
	color:#000000;
	border-bottom:2px solid #404040;
	float:left;
	padding: 10px 0px 0px 0px;
}

.type_1 {
	background-color:#ffeee6;
}
.type_2 {
	background-color:#e8ffff;
}
.type_3 {
	background-color:#efefef;
}

.ztl_list_image {
	margin: 0px 0px 0px 10px;
	float:left;
	width:30%;
}

.ztl_list_content {
	width:60%;
	float:right;
	padding: 0px 10px 10px 10px;
}

.ztl_list_header{
	color:#000000;
	font-weight:bold;
	font-size:14px;
}
.ztl_list_content{
	color:#000000;
	font-weight:normal;
	font-size:12px;
}

.ztl_list_info{
	width:100%;
	float:left;
	border-bottom:1px dotted #404040;
	padding: 10px 10px 10px 10px;
}

.ztl_datails_info{
	width:100%;
	float:left;
	border-bottom:1px dotted #404040;
	padding: 10px 10px 10px 10px;
}

.ztl_delete{
	color:#ffffff;
	background-color:#ef4b35;
	float:right;
	padding: 2px 5px 2px 5px;
	margin: 0px 8px 0px 0px;
}

.ztl_map{
	font-size:12px;
	background-color:#3699fb;
	color:#ffffff;
	float:left;
	padding: 5px 5px 5px 5px;
}

.ztl_calendar{
	font-size:12px;
	width:80px;
	background-color:#3699fb;
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px 20px;
	float:left;
}

.ztl_gps{
	font-size:12px;
	width:80px;
	background-color:#3699fb;
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px 20px;
	float:left;
}

.ztl_watch{
	font-size:12px;
	width:50px;
	background-color:#3699fb;
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px 20px;
	float:left;
}

.ztl_sound{
	font-size:12px;
	background-color:#3699fb;
	padding: 5px 5px 5px 5px;
	margin: 0px 25px 0px 20px;
	float:left;
}

.ztl_distance{
	font-size:12px;
	background-color:#3699fb;
	color:#000000;
	float:right;
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px 0px;
}

.ztl_details_content{
	float:left;
	padding: 10px 10px 10px 10px;
	color:#000000;
	font-size:12px;
}

.ztl_delete{
	color:#ffffff;
	background-color:#ef4b35;
	float:right;
	padding: 2px 5px 2px 5px;
	margin: 0px 8px 0px 0px;
}

.ztl_navigate_events{
    display:block;
}

.ztl_navigate_events_left{
	position:absolute;
	font-size:100px;
	color:#ffffff;
	opacity:10%;
}

.ztl_navigate_events_right{
	position:absolute;
	right:0;
	font-size:100px;
	color:#ffffff;
	opacity:10%;
}