#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display : none;
}

.ztl_list_li {
	list-style-type: none;
	padding:0;
	margin:0;
}

.red_line {
	background-color:#ed1c24; 
	height:3px; 
	width:100%;
}

.black_line {
	background-color:#222222; 
	height:1px; 
	width:100%;
}

.grey_line {
	background-color:#555555; 
	height:4px; 
	width:100%;
}

.header_title {
	float:left;
	padding:0px 0px 2px 25px;
	font-size:20px;
}

.header_back {
	float:left;
	background-image:url('ztl_images/back_arrow_2.png');
	background-repeat:no-repeat;
	height:25px;
	width:33px;
	margin:0px 0px 0px 25px;
}

.header_space {
	height:10px;
}

/*
.header_back {
	float:left;
	background-image:url('ztl_images/back_arrow_1.png');
	background-repeat:no-repeat;
	height:33px;
	width:43px;
	margin:0px 0px 0px 25px;
}
*/


.header_dots {
	float:right;
	background-image:url('ztl_images/dots_1.png');
	background-repeat:no-repeat;
	height:22px;
	width:6px;
	padding:0px 25px 0px 0px;
}
 /*
.header_dots {
	float:right;
	background-image:url('ztl_images/dots.png');
	background-repeat:no-repeat;
	height:28px;
	width:8px;
	padding:0px 25px 0px 0px;
}
*/

.header_shadow {
	/*
	background-image:url('ztl_images/shadow.png');
	background-repeat:repeat-x;
	width:100%;
	height:11px;
	*/
}

.ztl_content {
	width:100%;
	margin:0; 
	/*padding:85px 0px 70px 0px;*/
	padding:50px 0px 70px 0px;
}

.ztl_list_item {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
}

.ztl_list_image {
	width:35%;
	float:left;
}

.ztl_list_content {
	width:63%;
	float:right;
}

.ztl_list_header{
	color:#ffffff;
	font-family: 'robotocondensed';
	font-size:20px;
	padding:10px 0px 0px 0px;
	width:100%;
}

.ztl_list_content_text{
	color:#999999;
	font-size:14px;
	padding:5px 0px 0px 0px;
	width:100%;
}

.ztl_distance{
	font-size:16px;
	color:#ffffff;
	 font-family: 'robotocondensed';
	position: absolute; 
	bottom: 0; 
	right: 0;
	padding:0px 15px 5px 0px;
}

.ztl_star{
	font-size:14px;
	color:#ffffff;
	font-family: 'robotocondensed';
	position: absolute; 
	bottom: 0; 
	left: 0;
	padding:0px 0px 5px 37%;
}

.ztl_item_buttons {
	position:relative;
	margin: 50px 0px 0px 0px;
}

.ztl_item_myvisit_button{
	background-image:url('ztl_images/button_red_1.png');
	background-repeat:repeat-x;
	width:45%;
	height:36px;
	font-size:18px;
	color:#ffffff;
	font-family: 'robotoboldcondensed';
	position: absolute; 
	bottom: 0; 
	right: 0;
	padding-top:7px;
	margin:0px 15px 0px 0px;
	text-align:center;
	text-decoration:none;
}

.ztl_item_map_button{
	background-image:url('ztl_images/button_red_1.png');
	background-repeat:repeat-x;
	width:45%;
	height:36px;
	font-size:18px;
	color:#ffffff;
	font-family: 'robotoboldcondensed';
	position: absolute; 
	bottom: 0; 
	left: 0;
	padding-top:7px;
	margin:0px 0px 0px 15px;
	text-align:center;
	text-decoration:none;
}

.ztl_item_shadow {
	position:absolute;
	height:30px;
	width:100%;
	background-color:#000000;
	opacity:0.5;
}

.ztl_item_title_text {
	padding:6px 0px 0px 80px;
	position:absolute;
	height:30px;
	width:100%;
}

.ztl_item_details {
	color:#555555;
	position:relative;
	margin: 20px 0px 0px 0px;
	padding:0px 18px 0px 20px;
}

.ztl_item_distance{
	font-size:18px;
	color:#ffffff;
	font-family: 'robotocondensed';
	position: absolute; 
	bottom: 0; 
	right: 0;
	padding:0px 15px 15px 0px;
}

.ztl_item_details_title{
	font-size:18px;
}

#media_player {
	text-align:center;
}

.img_crop { width: 126px; height: 104px; overflow: hidden; }
