<script id="tpl_select_language" type="text/html">

<div data-role="page" id="select_language" data-theme="a" class="ztl_remove_from_page">
	<div data-role="header">
		<h1>Ljubljana</h1>
	</div>
	<div data-role="content" data-theme="a">	
		<p><a href="#" onClick="select_language(1);" data-direction="reverse" data-role="button" data-theme="a">Slovenščina</a></p>	
		<p><a href="#" onClick="select_language(2);" data-direction="reverse" data-role="button" data-theme="a">English</a></p>	
		<p><a href="#" onClick="select_language(3);" data-direction="reverse" data-role="button" data-theme="a">Deutsch</a></p>	
		<p><a href="#" onClick="select_language(4);" data-direction="reverse" data-role="button" data-theme="a">Italiano</a></p>	
		<p><a href="#" onClick="select_language(5);" data-direction="reverse" data-role="button" data-theme="a">Francais</a></p>	
	</div>
</div>

</script>